<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ app.getName() }} | Error</title>
    {% include "partials/layouts/default/head.twig" %}
    {% include "partials/layouts/default/stylesheets.twig" %}
    <style type="text/css">
        body{ margin-top: 15px; }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% include "base/components/flash.twig" %}
            </div>
        </div>
    </div>

</body>

</html>